In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('./Densidad_poblacional.csv', sep=";" )

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Municipality code  1121 non-null   int64
 1   Densidad2007       1121 non-null   float64
 2   Densidad2008       1121 non-null   float64
 3   Densidad2009       1121 non-null   float64
 4   Densidad2010       1121 non-null   float64
 5   Densidad2011       1121 non-null   float64
 6   Densidad2012       1121 non-null   float64
 7   Densidad2013       1121 non-null   float64
 8   Densidad2014       1121 non-null   float64
 9   Densidad2015       1121 non-null   float64
 10  Densidad2016       1121 non-null   float64
 11  Densidad2017       1121 non-null   float64
 12  Densidad2018       1121 non-null   float64
 13  Densidad2019       1121 non-null   float64
dtypes: float64(13), int64(1)
memory usage: 122.7 KB

In [8]:
df

,Municipality code,Densidad2007,Densidad2008,Densidad2009,Densidad2010,Densidad2011,Densidad2012,Densidad2013,Densidad2014,Densidad2015,Densidad2016,Densidad2017,Densidad2018,Densidad2019
0,11001,3868.4,3908.2,3945.6,3980.7,4010.9,4035.1,4054.8,4071.4,4086.7,4107.3,4131.5,4176.1,4277.7
1,5001,1288.0,1301.2,1313.5,1325.9,1340.8,1357.8,1368.4,1372.4,1370.0,1363.7,1360.3,1367.4,1399.2
2,76001,1194.3,1197.8,1201.7,1207.3,1217.8,1232.6,1239.9,1242.7,1244.0,1244.0,1243.3,1255.0,1262.8
3,8001,657.0,664.2,671.1,677.8,683.8,689.0,692.8,693.6,689.7,681.8,673.7,679.6,700.3
4,13001,507.7,512.1,516.2,519.1,518.6,514.5,512.8,513.9,517.0,523.5,533.3,548.2,565.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,94885,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.2,0.2
1117,94886,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.2,0.3,0.4,0.5,0.5
1118,23815,0.0,23.2,23.7,24.0,24.3,24.6,25.3,26.0,26.5,26.8,27.0,29.6,30.3
1119,13490,0.0,2.2,2.2,2.3,2.3,2.5,3.1,3.8,4.1,4.3,4.3,5.2,5.4
1120,23682,0.0,4.4,4.5,4.5,4.6,4.6,4.8,4.9,5.2,5.5,5.9,7.5,7.7

In [9]:
density_data = df.melt(id_vars=["Municipality code"], 
        var_name="Date", 
        value_name="density")
density_data

       Municipality code          Date  density
0                  11001  Densidad2007   3868.4
1                   5001  Densidad2007   1288.0
2                  76001  Densidad2007   1194.3
3                   8001  Densidad2007    657.0
4                  13001  Densidad2007    507.7
...                  ...           ...      ...
14568              94885  Densidad2019      0.2
14569              94886  Densidad2019      0.5
14570              23815  Densidad2019     30.3
14571              13490  Densidad2019      5.4
14572              23682  Densidad2019      7.7

[14573 rows x 3 columns]

In [10]:
density_data["year"] = density_data["Date"].apply(lambda x: int(x[-4:]))

In [11]:
density_data

       Municipality code          Date  density  year
0                  11001  Densidad2007   3868.4  2007
1                   5001  Densidad2007   1288.0  2007
2                  76001  Densidad2007   1194.3  2007
3                   8001  Densidad2007    657.0  2007
4                  13001  Densidad2007    507.7  2007
...                  ...           ...      ...   ...
14568              94885  Densidad2019      0.2  2019
14569              94886  Densidad2019      0.5  2019
14570              23815  Densidad2019     30.3  2019
14571              13490  Densidad2019      5.4  2019
14572              23682  Densidad2019      7.7  2019

[14573 rows x 4 columns]

In [12]:
df.to_csv('density.csv',sep = ';', index=False)

In [ ]:
completadf = pd.read_csv('./Densidad_poblacional.csv', sep=";" )

In [ ]:
data_colombia_completa_2.csv