In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
data = pd.read_csv("../features/base_colombia_completa.csv", sep=";")

In [37]:
data

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,concat_code_year,population,year_cases,tasa_dengue_mensual
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,5001|2007,2286126,5,4.374212e-07
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,5002|2007,20643,0,0.000000e+00
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,5004|2007,2261,0,0.000000e+00
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,5021|2007,3935,0,0.000000e+00
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,5030|2007,27996,0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,97889|2018,1048,0,0.000000e+00
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,99001|2018,20936,5,0.000000e+00
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,99524|2018,10122,3,0.000000e+00
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,99624|2018,4059,0,0.000000e+00
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,99773|2018,72691,6,0.000000e+00

In [38]:
codes = data["Municipality code"].unique()
risk_df = pd.DataFrame()

tasas = []

In [39]:
for code in codes:
    data_actual = data[data["Municipality code"]==code]
    tasa_municipio = data_actual["tasa_dengue_mensual"].mean()
    tasas.append(tasa_municipio)

In [43]:
tasas_promedio_df= pd.DataFrame({'code': codes.tolist(),'tasa_dengue_promedio': tasas})

In [44]:
tasas_promedio_df["tasa_dengue_promedio_x10000_hab"] = tasas_promedio_df["tasa_dengue_promedio"]*10000

In [54]:
tasas_promedio_df

       code  tasa_dengue_promedio  tasa_dengue_promedio_x10000_hab
0      5001              0.000140                         1.398562
1      5002              0.000030                         0.298171
2      5004              0.000017                         0.169010
3      5021              0.000018                         0.175392
4      5030              0.000158                         1.582632
...     ...                   ...                              ...
1116  97889              0.000011                         0.111717
1117  99001              0.000368                         3.677812
1118  99524              0.000251                         2.512306
1119  99624              0.000382                         3.818935
1120  99773              0.000097                         0.965451

[1121 rows x 3 columns]

In [55]:
tasas_promedio_df.to_csv("tasas_dengue_promedio.csv", sep=";", index=False)

In [52]:
data_complete = data.merge(tasas_promedio_df, left_on='Municipality code', right_on='code', how='left')
data_complete

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,concat_code_year,population,year_cases,tasa_dengue_mensual,code,tasa_dengue_promedio,tasa_dengue_promedio_x10000_hab
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,5001|2007,2286126,5,4.374212e-07,5001,0.000140,1.398562
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,5002|2007,20643,0,0.000000e+00,5002,0.000030,0.298171
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,5004|2007,2261,0,0.000000e+00,5004,0.000017,0.169010
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,5021|2007,3935,0,0.000000e+00,5021,0.000018,0.175392
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,5030|2007,27996,0,0.000000e+00,5030,0.000158,1.582632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,97889|2018,1048,0,0.000000e+00,97889,0.000011,0.111717
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,99001|2018,20936,5,0.000000e+00,99001,0.000368,3.677812
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,99524|2018,10122,3,0.000000e+00,99524,0.000251,2.512306
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,99624|2018,4059,0,0.000000e+00,99624,0.000382,3.818935
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,99773|2018,72691,6,0.000000e+00,99773,0.000097,0.965451

In [53]:
data_complete.to_csv("../features/data_colombia_completa_2.csv", sep=";", index=False)