In [1]:
import os
import pandas as pd

In [2]:
os.listdir("../features/")

['altura.csv',
 'base_colombia_completa.csv',
 'borrar.txt',
 'calcular_humedad.ipynb',
 'data_colombia_completa_2.csv',
 'density.csv',
 'dpto.geojson',
 'humedad_municipios.csv',
 'IDEAM_Colombia.csv',
 'MAP_Colombia.ipynb',
 'mpio.geojson',
 'semanas_epidemiologicas.csv',
 'semanas_epidemiologicas.xlsx',
 'tasa_anual.csv']

# Read last database

In [3]:
data_path = os.path.join('..', 'features', 'data_colombia_completa_2.csv')
data_path

'..\\features\\data_colombia_completa_2.csv'

In [4]:
df = pd.read_csv(data_path, sep=";")

In [5]:
df

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,concat_code_year,population,year_cases,tasa_dengue_mensual,code,tasa_dengue_promedio,tasa_dengue_promedio_x10000_hab
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,5001|2007,2286126,5,4.374212e-07,5001,0.000140,1.398562
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,5002|2007,20643,0,0.000000e+00,5002,0.000030,0.298171
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,5004|2007,2261,0,0.000000e+00,5004,0.000017,0.169010
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,5021|2007,3935,0,0.000000e+00,5021,0.000018,0.175392
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,5030|2007,27996,0,0.000000e+00,5030,0.000158,1.582632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,97889|2018,1048,0,0.000000e+00,97889,0.000011,0.111717
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,99001|2018,20936,5,0.000000e+00,99001,0.000368,3.677812
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,99524|2018,10122,3,0.000000e+00,99524,0.000251,2.512306
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,99624|2018,4059,0,0.000000e+00,99624,0.000382,3.818935
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,99773|2018,72691,6,0.000000e+00,99773,0.000097,0.965451

# Merge all the data

## read height database

In [6]:
height_df = pd.read_csv('../features/altura.csv', sep=";")

In [7]:
height_df

      Municipality code  MSNM
0                 88001     0
1                 23419     0
2                 88564     0
3                 13657     1
4                 44001     1
...                 ...   ...
1116              52317  3087
1117              15368  3100
1118              52227  3100
1119              68867  3350
1120              11001  2640

[1121 rows x 2 columns]

In [8]:
df = df.merge(height_df,how='left', left_on='Municipality code', right_on='Municipality code',suffixes=('_left', '_right'))
df

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,concat_code_year,population,year_cases,tasa_dengue_mensual,code,tasa_dengue_promedio,tasa_dengue_promedio_x10000_hab,MSNM
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,5001|2007,2286126,5,4.374212e-07,5001,0.000140,1.398562,1538
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,5002|2007,20643,0,0.000000e+00,5002,0.000030,0.298171,2275
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,5004|2007,2261,0,0.000000e+00,5004,0.000017,0.169010,1900
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,5021|2007,3935,0,0.000000e+00,5021,0.000018,0.175392,1750
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,5030|2007,27996,0,0.000000e+00,5030,0.000158,1.582632,1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,97889|2018,1048,0,0.000000e+00,97889,0.000011,0.111717,100
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,99001|2018,20936,5,0.000000e+00,99001,0.000368,3.677812,51
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,99524|2018,10122,3,0.000000e+00,99524,0.000251,2.512306,100
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,99624|2018,4059,0,0.000000e+00,99624,0.000382,3.818935,125
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,99773|2018,72691,6,0.000000e+00,99773,0.000097,0.965451,161

## Read population density database

In [9]:
density_df = pd.read_csv('../features/density.csv', sep=";")
density_df

,Municipality code,Densidad2007,Densidad2008,Densidad2009,Densidad2010,Densidad2011,Densidad2012,Densidad2013,Densidad2014,Densidad2015,Densidad2016,Densidad2017,Densidad2018,Densidad2019
0,11001,3868.4,3908.2,3945.6,3980.7,4010.9,4035.1,4054.8,4071.4,4086.7,4107.3,4131.5,4176.1,4277.7
1,5001,1288.0,1301.2,1313.5,1325.9,1340.8,1357.8,1368.4,1372.4,1370.0,1363.7,1360.3,1367.4,1399.2
2,76001,1194.3,1197.8,1201.7,1207.3,1217.8,1232.6,1239.9,1242.7,1244.0,1244.0,1243.3,1255.0,1262.8
3,8001,657.0,664.2,671.1,677.8,683.8,689.0,692.8,693.6,689.7,681.8,673.7,679.6,700.3
4,13001,507.7,512.1,516.2,519.1,518.6,514.5,512.8,513.9,517.0,523.5,533.3,548.2,565.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,94885,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.2,0.2
1117,94886,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.2,0.3,0.4,0.5,0.5
1118,23815,0.0,23.2,23.7,24.0,24.3,24.6,25.3,26.0,26.5,26.8,27.0,29.6,30.3
1119,13490,0.0,2.2,2.2,2.3,2.3,2.5,3.1,3.8,4.1,4.3,4.3,5.2,5.4
1120,23682,0.0,4.4,4.5,4.5,4.6,4.6,4.8,4.9,5.2,5.5,5.9,7.5,7.7

In [12]:
df = df.merge(density_df,how='left', left_on='Municipality code', right_on='Municipality code',suffixes=('_left', '_right'))
df

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,...,Densidad2010,Densidad2011,Densidad2012,Densidad2013,Densidad2014,Densidad2015,Densidad2016,Densidad2017,Densidad2018,Densidad2019
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,...,1325.9,1340.8,1357.8,1368.4,1372.4,1370.0,1363.7,1360.3,1367.4,1399.2
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,...,12.0,11.8,11.3,11.1,11.2,11.2,11.3,11.3,11.5,11.4
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,...,1.3,1.3,1.4,1.4,1.4,1.4,1.4,1.5,1.5,1.5
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,...,2.3,2.4,2.4,2.5,2.5,2.5,2.6,2.6,2.6,2.6
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,...,16.2,16.2,16.0,15.9,16.0,16.2,16.3,16.6,17.0,17.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,...,0.6,0.7,0.7,0.8,0.8,0.7,0.6,0.6,0.6,0.6
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,...,9.1,9.5,10.0,10.5,11.0,11.4,11.8,11.9,11.8,11.5
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,...,3.9,4.2,4.5,4.9,5.2,5.5,5.7,5.8,5.7,5.5
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,...,2.2,2.3,2.4,2.6,2.6,2.6,2.4,2.3,2.3,2.3
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,...,18.4,20.1,22.0,24.1,26.4,29.1,32.5,36.7,41.0,42.9

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161424 entries, 0 to 161423
Data columns (total 31 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Municipality code                161424 non-null  int64
 1   Municipality                     161424 non-null  object
 2   Date                             161424 non-null  object
 3   temperature                      161280 non-null  float64
 4   month_str                        161424 non-null  object
 5   month                            161424 non-null  int64
 6   year                             161424 non-null  int64
 7   concat_code_year_month           161424 non-null  object
 8   precipitation                    161280 non-null  float64
 9   cases                            161424 non-null  int64
 10  concat_code_year                 161424 non-null  object
 11  population                       161424 non-null  int64
 12  year_cases                       161424 non-null  int64
 13  tasa_dengue_mensual              161388 non-null  float64
 14  code                             161424 non-null  int64
 15  tasa_dengue_promedio             161424 non-null  float64
 16  tasa_dengue_promedio_x10000_hab  161424 non-null  float64
 17  MSNM                             161424 non-null  int64
 18  Densidad2007                     161424 non-null  float64
 19  Densidad2008                     161424 non-null  float64
 20  Densidad2009                     161424 non-null  float64
 21  Densidad2010                     161424 non-null  float64
 22  Densidad2011                     161424 non-null  float64
 23  Densidad2012                     161424 non-null  float64
 24  Densidad2013                     161424 non-null  float64
 25  Densidad2014                     161424 non-null  float64
 26  Densidad2015                     161424 non-null  float64
 27  Densidad2016                     161424 non-null  float64
 28  Densidad2017                     161424 non-null  float64
 29  Densidad2018                     161424 non-null  float64
 30  Densidad2019                     161424 non-null  float64
dtypes: float64(18), int64(8), object(5)
memory usage: 39.4+ MB

## Read humidity of municipalities database

In [18]:
humidity_df = pd.read_csv('../features/humedad_municipios.csv', sep=",")
humidity_df

     Cod_Div         Municipio    Humedad
0      91430       LA VICTORIA  88.761250
1      99001    PUERTO CARREÑO  88.420000
2       5001          MEDELLÍN  92.052500
3       5002         ABEJORRAL  92.398750
4       5004          ABRIAQUÍ  92.370000
...      ...               ...        ...
1124      CE    CARIBE ORIENTE  86.810465
1125      CO  CARIBE OCCIDENTE  78.465116
1126      PC   PACÍFICO CENTRO  87.284884
1127      PN    PACÍFICO NORTE  85.767442
1128      PS      PACÍFICO SUR  80.474419

[1129 rows x 3 columns]

In [21]:
humidity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129 entries, 0 to 1128
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cod_Div    1129 non-null   object
 1   Municipio  1129 non-null   object
 2   Humedad    1129 non-null   float64
dtypes: float64(1), object(2)
memory usage: 26.6+ KB

In [22]:
df1 = df.merge(humidity_df,how='left', left_on='Municipality code', right_on='Cod_Div',suffixes=('_left', '_right'))
df1

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

## Read Annual Case Rate database

In [16]:
rate_year_df = pd.read_csv('../features/tasa_anual.csv', sep=";")
rate_year_df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa1 in position 22589: invalid start byte