In [1]:
import os
import pandas as pd

In [2]:
os.listdir("../features/")

['altura.csv',
 'base_colombia_completa.csv',
 'borrar.txt',
 'calcular_humedad.ipynb',
 'data_colombia_completa_2.csv',
 'density.csv',
 'dpto.geojson',
 'humedad_municipios.csv',
 'IDEAM_Colombia.csv',
 'MAP_Colombia.ipynb',
 'mpio.geojson',
 'semanas_epidemiologicas.csv',
 'semanas_epidemiologicas.xlsx',
 'tasa_anual.csv']

# Read last database

In [3]:
data_path = os.path.join('..', 'features', 'data_colombia_completa_2.csv')
data_path

'..\\features\\data_colombia_completa_2.csv'

In [4]:
df = pd.read_csv(data_path, sep=";")

In [5]:
df

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,...,Buildingstratification1(%),Buildingstratification2(%),Buildingstratification3(%),Buildingstratification4(%),Buildingstratification5(%),Buildingstratification6(%),NumberofhospitalsperKm2,NumberofhousesperKm2,promedio_tasa_dengue_mensual,promedio_tasa_dengue_mensual_x10000_habitantes
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,...,12.1117,31.2817,26.0471,9.0279,6.4855,3.7062,1.555263,2102.057895,0.000140,1.398562
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,...,31.3520,33.8306,2.0439,0.0352,0.0117,0.0000,0.002012,11.945674,0.000030,0.298171
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,...,21.5705,39.1675,4.3519,0.0946,0.1892,0.1892,0.000000,2.548276,0.000017,0.169010
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,...,17.9879,38.5721,4.8215,0.1854,0.0464,0.0464,0.006623,9.092715,0.000018,0.175392
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,...,27.8784,42.0280,3.4086,0.1889,0.1460,0.0172,0.011765,102.752941,0.000158,1.582632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,...,6.0606,1.0101,0.0000,0.0000,0.0000,0.0000,0.000000,0.028621,0.000011,0.111717
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,...,41.0368,15.3779,2.4037,0.0579,0.0145,0.0145,0.000388,0.432426,0.000368,3.677812
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,...,39.3295,5.0284,0.7782,0.0299,0.0000,0.0000,0.000000,0.113272,0.000251,2.512306
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,...,50.2627,7.0053,0.2627,0.0000,0.0000,0.0000,0.000254,0.247904,0.000382,3.818935
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,...,10.5047,0.4311,0.1998,0.0000,0.0000,0.0000,0.000061,0.134017,0.000097,0.965451

# Merge all the data

## read height database

In [6]:
height_df = pd.read_csv('../features/altura.csv', sep=";")

In [7]:
height_df

      Municipality code  MSNM
0                 88001     0
1                 23419     0
2                 88564     0
3                 13657     1
4                 44001     1
...                 ...   ...
1116              52317  3087
1117              15368  3100
1118              52227  3100
1119              68867  3350
1120              11001  2640

[1121 rows x 2 columns]

In [8]:
df = df.merge(height_df,how='left', left_on='Municipality code', right_on='Municipality code',suffixes=('_left', '_right'))
df

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,...,Buildingstratification2(%),Buildingstratification3(%),Buildingstratification4(%),Buildingstratification5(%),Buildingstratification6(%),NumberofhospitalsperKm2,NumberofhousesperKm2,promedio_tasa_dengue_mensual,promedio_tasa_dengue_mensual_x10000_habitantes,MSNM
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,...,31.2817,26.0471,9.0279,6.4855,3.7062,1.555263,2102.057895,0.000140,1.398562,1538
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,...,33.8306,2.0439,0.0352,0.0117,0.0000,0.002012,11.945674,0.000030,0.298171,2275
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,...,39.1675,4.3519,0.0946,0.1892,0.1892,0.000000,2.548276,0.000017,0.169010,1900
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,...,38.5721,4.8215,0.1854,0.0464,0.0464,0.006623,9.092715,0.000018,0.175392,1750
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,...,42.0280,3.4086,0.1889,0.1460,0.0172,0.011765,102.752941,0.000158,1.582632,1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,...,1.0101,0.0000,0.0000,0.0000,0.0000,0.000000,0.028621,0.000011,0.111717,100
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,...,15.3779,2.4037,0.0579,0.0145,0.0145,0.000388,0.432426,0.000368,3.677812,51
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,...,5.0284,0.7782,0.0299,0.0000,0.0000,0.000000,0.113272,0.000251,2.512306,100
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,...,7.0053,0.2627,0.0000,0.0000,0.0000,0.000254,0.247904,0.000382,3.818935,125
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,...,0.4311,0.1998,0.0000,0.0000,0.0000,0.000061,0.134017,0.000097,0.965451,161

## Read population density database

In [9]:
density_df = pd.read_csv('../features/density.csv', sep=";")
density_df

,Municipality code,Densidad2007,Densidad2008,Densidad2009,Densidad2010,Densidad2011,Densidad2012,Densidad2013,Densidad2014,Densidad2015,Densidad2016,Densidad2017,Densidad2018,Densidad2019
0,11001,3868.4,3908.2,3945.6,3980.7,4010.9,4035.1,4054.8,4071.4,4086.7,4107.3,4131.5,4176.1,4277.7
1,5001,1288.0,1301.2,1313.5,1325.9,1340.8,1357.8,1368.4,1372.4,1370.0,1363.7,1360.3,1367.4,1399.2
2,76001,1194.3,1197.8,1201.7,1207.3,1217.8,1232.6,1239.9,1242.7,1244.0,1244.0,1243.3,1255.0,1262.8
3,8001,657.0,664.2,671.1,677.8,683.8,689.0,692.8,693.6,689.7,681.8,673.7,679.6,700.3
4,13001,507.7,512.1,516.2,519.1,518.6,514.5,512.8,513.9,517.0,523.5,533.3,548.2,565.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,94885,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.2,0.2
1117,94886,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.2,0.3,0.4,0.5,0.5
1118,23815,0.0,23.2,23.7,24.0,24.3,24.6,25.3,26.0,26.5,26.8,27.0,29.6,30.3
1119,13490,0.0,2.2,2.2,2.3,2.3,2.5,3.1,3.8,4.1,4.3,4.3,5.2,5.4
1120,23682,0.0,4.4,4.5,4.5,4.6,4.6,4.8,4.9,5.2,5.5,5.9,7.5,7.7

In [10]:
# transform the density data
density_data = density_df.melt(id_vars=["Municipality code"], 
        var_name="Date", 
        value_name="density_year")
density_data

       Municipality code          Date  density_year
0                  11001  Densidad2007        3868.4
1                   5001  Densidad2007        1288.0
2                  76001  Densidad2007        1194.3
3                   8001  Densidad2007         657.0
4                  13001  Densidad2007         507.7
...                  ...           ...           ...
14568              94885  Densidad2019           0.2
14569              94886  Densidad2019           0.5
14570              23815  Densidad2019          30.3
14571              13490  Densidad2019           5.4
14572              23682  Densidad2019           7.7

[14573 rows x 3 columns]

In [11]:
density_data['year'] = density_data.Date.apply(lambda x: int(x[-4:]))

In [12]:
density_data['concat_code_year'] = density_data['Municipality code'].astype('str') + "|" + \
                                    density_data['year'].astype('str')
density_data

       Municipality code          Date  density_year  year concat_code_year
0                  11001  Densidad2007        3868.4  2007       11001|2007
1                   5001  Densidad2007        1288.0  2007        5001|2007
2                  76001  Densidad2007        1194.3  2007       76001|2007
3                   8001  Densidad2007         657.0  2007        8001|2007
4                  13001  Densidad2007         507.7  2007       13001|2007
...                  ...           ...           ...   ...              ...
14568              94885  Densidad2019           0.2  2019       94885|2019
14569              94886  Densidad2019           0.5  2019       94886|2019
14570              23815  Densidad2019          30.3  2019       23815|2019
14571              13490  Densidad2019           5.4  2019       13490|2019
14572              23682  Densidad2019           7.7  2019       23682|2019

[14573 rows x 5 columns]

In [13]:
df = df.merge(density_data[['concat_code_year', 'density_year']],how='left', on='concat_code_year', suffixes=('_left', '_right'))
df

,Municipality code,Municipality,Date,temperature,month_str,month,year,concat_code_year_month,precipitation,cases,...,Buildingstratification3(%),Buildingstratification4(%),Buildingstratification5(%),Buildingstratification6(%),NumberofhospitalsperKm2,NumberofhousesperKm2,promedio_tasa_dengue_mensual,promedio_tasa_dengue_mensual_x10000_habitantes,MSNM,density_year
0,5001,Medellín,TEMPERATURE_jan_07,21.009283,jan,1,2007,5001|2007|1,65.411400,1,...,26.0471,9.0279,6.4855,3.7062,1.555263,2102.057895,0.000140,1.398562,1538,1288.0
1,5002,Abejorral,TEMPERATURE_jan_07,16.566818,jan,1,2007,5002|2007|1,73.411079,0,...,2.0439,0.0352,0.0117,0.0000,0.002012,11.945674,0.000030,0.298171,2275,11.6
2,5004,Abriaquí,TEMPERATURE_jan_07,16.988332,jan,1,2007,5004|2007|1,53.842678,0,...,4.3519,0.0946,0.1892,0.1892,0.000000,2.548276,0.000017,0.169010,1900,1.3
3,5021,Alejandría,TEMPERATURE_jan_07,20.606707,jan,1,2007,5021|2007|1,66.638855,0,...,4.8215,0.1854,0.0464,0.0464,0.006623,9.092715,0.000018,0.175392,1750,2.2
4,5030,Amagá,TEMPERATURE_jan_07,20.814870,jan,1,2007,5030|2007|1,62.527489,0,...,3.4086,0.1889,0.1460,0.0172,0.011765,102.752941,0.000158,1.582632,1250,15.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161419,97889,Yavaraté,TEMPERATURE_dec_18,26.300149,dec,12,2018,97889|2018|12,278.270264,0,...,0.0000,0.0000,0.0000,0.0000,0.000000,0.028621,0.000011,0.111717,100,0.6
161420,99001,Puerto Carreño,TEMPERATURE_dec_18,28.290137,dec,12,2018,99001|2018|12,46.351234,0,...,2.4037,0.0579,0.0145,0.0145,0.000388,0.432426,0.000368,3.677812,51,11.8
161421,99524,La Primavera,TEMPERATURE_dec_18,28.010822,dec,12,2018,99524|2018|12,56.324593,0,...,0.7782,0.0299,0.0000,0.0000,0.000000,0.113272,0.000251,2.512306,100,5.7
161422,99624,Santa Rosalía,TEMPERATURE_dec_18,27.512444,dec,12,2018,99624|2018|12,55.008774,0,...,0.2627,0.0000,0.0000,0.0000,0.000254,0.247904,0.000382,3.818935,125,2.3
161423,99773,Cumaribo,TEMPERATURE_dec_18,27.309817,dec,12,2018,99773|2018|12,82.457962,0,...,0.1998,0.0000,0.0000,0.0000,0.000061,0.134017,0.000097,0.965451,161,41.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161424 entries, 0 to 161423
Data columns (total 44 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Municipality code                               161424 non-null  int64
 1   Municipality                                    161424 non-null  object
 2   Date                                            161424 non-null  object
 3   temperature                                     161280 non-null  float64
 4   month_str                                       161424 non-null  object
 5   month                                           161424 non-null  int64
 6   year                                            161424 non-null  int64
 7   concat_code_year_month                          161424 non-null  object
 8   precipitation                                   161280 non-null  float64
 9   cases                                           161424 non-null  int64
 10  concat_code_year                                161424 non-null  object
 11  population                                      161424 non-null  int64
 12  year_cases                                      161424 non-null  int64
 13  tasa_dengue_mensual                             161388 non-null  float64
 14  tasa_dengue_mensual_x10000_habitantes           161388 non-null  float64
 15  Age0-4(%)                                       161424 non-null  float64
 16  Age5-14(%)                                      161424 non-null  float64
 17  Age15-29(%)                                     161424 non-null  float64
 18  Age>30(%)                                       161424 non-null  float64
 19  AfrocolombianPopulation(%)                      161424 non-null  float64
 20  IndianPopulation(%)                             161424 non-null  float64
 21  PeoplewithDisabilities(%)                       161424 non-null  float64
 22  Peoplewhocannotreadorwrite(%)                   161424 non-null  float64
 23  Secondary/HigherEducation(%)                    161424 non-null  float64
 24  Employedpopulation(%)                           161424 non-null  float64
 25  Unemployedpopulation(%)                         161424 non-null  float64
 26  Peopledoinghousework(%)                         161424 non-null  float64
 27  Retiredpeople(%)                                161424 non-null  float64
 28  Men(%)                                          161424 non-null  float64
 29  Women(%)                                        161424 non-null  float64
 30  Householdswithoutwateraccess(%)                 161424 non-null  float64
 31  Householdswithoutinternetaccess(%)              161424 non-null  float64
 32  Buildingstratification1(%)                      161424 non-null  float64
 33  Buildingstratification2(%)                      161424 non-null  float64
 34  Buildingstratification3(%)                      161424 non-null  float64
 35  Buildingstratification4(%)                      161424 non-null  float64
 36  Buildingstratification5(%)                      161424 non-null  float64
 37  Buildingstratification6(%)                      161424 non-null  float64
 38  NumberofhospitalsperKm2                         161424 non-null  float64
 39  NumberofhousesperKm2                            161424 non-null  float64
 40  promedio_tasa_dengue_mensual                    161424 non-null  float64
 41  promedio_tasa_dengue_mensual_x10000_habitantes  161424 non-null  float64
 42  MSNM                                            161424 non-null  int64
 43  density_year                                    161424 non-null  float64
dtypes: float64(32), int64(7), object(5)
memory usage: 55.4+ MB

In [16]:
# save the file
df.to_csv("../features/data_colombia_completa.csv", sep=";", index=False)